
title{
    font-size: 25px;
    text-align: center;
    color: red ;
    font-family: 'Times New Roman', Times, serif;

}
body{
    font-size:  20px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding:  20px;
    color:aliceblue;
    font-family: 'Courier New', Courier, doublespace;
    background-color: rgb(102, 12, 27);
    background-origin: initial;
    h1{
        font-size: 18px;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    p1{
        font-size: 12px;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        background-color: lightblue;
        width: 300px;
        border: 15px solid rgb(68, 3, 68);
        padding: 50px;
        margin: 20px;

    }
    image1{
        image-rendering: optimizeQuality;
        image-resolution: 1960px;
    }
